<!-- <% include header %> -->
<div class="wrapper">

    <!-- Header Navbar -->
    <!-- <% include mainMenu %> -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller="LoginPageController">

        <!-- Main content -->
        <section class="content">
            <div class="row row-centered">
<!--                <div class="col-xs-12 col-md-6  ">-->

<!--                    <div class="box no-border">-->
<!--                        <div class="box-body no-border">-->

<!--                            <p class="help-block">Use your facebook account to login</p>-->

<!--                            <facebook-button></facebook-button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xs-12 col-md-6 col-centered">-->
                <div class="col-xs-12 col-centered">
                    <div class="box no-border">
                        <div class="box-body no-border">
                            <div id="legend">
                                <h2>Log In</h2>
                            </div>
                            <!-- <% include formLogin %> -->
                                                 
                            <form #heroForm="ngForm" (ngSubmit)="login()" novalidate>
                                <fieldset>
                                  
                                        <!-- Username -->
                                        <div class="form-group"
                                        [class.has-error] = "username.touched && username.invalid">
                                        <label class="control-label" for="username">Username</label>
                                    
                                <input type="text" id="username" 
                                        class="form-control"
                                        [(ngModel)]="loginData.username" 
                                        name="username"
                                        #username="ngModel"
                                        required ng-required="true">
                                        <span class="help-block"
                                        *ngIf="username.touched && username.errors?.required"
                                        >
                                            Username is required
                                        </span>
                                       
                                        </div>         
                                <!-- <p [hidden]="username.valid || username.pristine"
                                    class=" alert alert-danger">Username is
                                    required.</p> -->
    
                        <!-- </div> -->
    
                        <!-- </div> -->
    
                        
                            <!-- Password-->
                            <div class="form-group"
                            [class.has-error] = "password.touched && password.invalid">
                            <label class="control-label" for="password">Password</label>
                            <!-- <div class="controls"
                                    ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }"> -->
                                <input 
    
                                type="password" id="passwordOriginal"
                                        class="form-control"
                                        [(ngModel)]="loginData.password" 
                                        #password="ngModel"
                                        required minlength="4" ng-required="true"   
                                        name="password"
    
                                >
                                
   <span class="help-block"
                *ngIf="password.touched && password.errors?.required "
                >
                    Password is required
                </span>    
                </div>
                                <!-- <p [hidden]="password.valid || password.pristine || password.errors.minlength"
                                class=" alert alert-danger">Password is invalid.</p> --> 
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="yes" name="rememberMe" ngModel
                                                ng-checked="rememberMe"> Remember me
                                    </label>
                        
                                    <p class="help-block"></p>
                                </div>
                                <div class="control-group">
                                    <error-block ng-show="errors.length > 0" messages="errors"></error-block>
                                    </div>
                                    <!-- </div> -->
                
                                    <!-- </div> -->
                                    <br>
                
                
                                    <div class="control-group">
                                        <div class="alert alert-danger" *ngIf="errorMsg">
                                            {{errorMsg}}
                                        </div>
                                        <!-- Button -->
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary btn-block" >Login
                                                <!-- <spinner show="isLoading"></spinner> -->
                                            </button>
                                            <!-- <error-block ng-show="errors.length > 0" messages="errors"></error-block> -->
                                        </div>
                                    </div>
                                    <a href="/accounts/forgot-password">Forgot Password</a>

                                </fieldset>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div><!-- ./wrapper -->
<!-- <% include jsfooter %>
<% include footer %> -->
