<li id={{data.slug}}>
    <p>
        <span>
            <a class="cursor" (click)="callDeleteFunction(data._id)"><i class="ionicons ion-android-delete"></i></a>
            <a class="cursor" (click)="callUpdateFunction(data)"><i class="ionicons ion-edit"></i></a>
            <a href="#/categories/{{data.slug}}">{{data.name}}</a>
        </span>
    </p>
    <!-- processForm(data._id)   [ngModel]="newSubCat.newSubCatModel.name"      [ngModel]="newSubCat.newSubCatModel.parentCategory"   (click)=(click)=callAddFunction(data)   (click)=processForm(newSubCategory)   -->
    <form  #newSubCategory="ngForm" (ngSubmit)="processForm(newSubCategory)">
        <div class="col-xs-12 from-group input-group input-group-sm col-lg-6">
            <input name="category" type="text" ngModel
                class="form-control input-sm col-xs-3" placeholder="Add Child ..."/>
            <input type="hidden" name="parent" [value]="data._id"
                 [ngModel]="data._id"
                ng-init="formData[data._id].parentCategory=data._id"/>
            <span class="input-group-btn">
            <button class="btn btn-info btn-flat" type="submit"  >
                <i class="fa fa-plus"></i> Add Child
            </button> 
            </span>
        </div>
    </form>
    <ul *ngFor="let data of data.subCategories">
        <!-- <li> -->
            <app-create-category 
            [data]="data"
            (deleteInChild)="deleteCategory($event)"
            (updateInChild)="editCategory($event)"
            (dataChangeDetection)="refreshPage($event)"
            ></app-create-category>
        <!-- </li> -->
    </ul>
</li>






