<div class="w" id="{{data.slug}}" data-shape="Rectangle">
    {{data.name}}
    <input type="hidden" class="xy" value="{{data.positionFromRoot.x}},{{data.positionFromRoot.y}}"/>
    <div class="collapse-button-home" *ngIf="data.subCategories.length > 0">
        <a class="pointer" (click)="collapse('t' + data._id )">
            <i class="fa fa-minus-square" *ngIf="!collapseStatus[data._id]"></i>
            <i class="fa fa-plus-square" *ngIf="collapseStatus[data._id] === true"></i>
        </a>
    </div>
    <ul class="dropdown-menu box box-primary category">
        <li><b>{{data.name}}</b></li>
        <li class="divider"></li>
        <li id="analytics-{{data.slug}}">
        </li>
        <li class="divider"></li>
        <li class="goto-button">
            <button class="btn btn-block btn-primary btn-sm" (click)="goToDetail(data.slug)">Browse
                Courses
            </button>
        </li>
        <li>
            <div class="collapse-button-home2" *ngIf="data.subCategories.length > 0">
                <a class="pointer" (click)="collapse('t' + data._id )">
                    <i class="fa fa-minus-square" *ngIf="!collapseStatus[data._id]"></i>
                    <i class="fa fa-plus-square" *ngIf="collapseStatus[data._id] === true"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
<div *ngFor="let data of data.subCategories">
    <app-tree-item 
    [data]="data"
    [collapseStatus] = "collapseStatus"
    (collapseChild) = (collapseParent($event))
    
    ></app-tree-item>
    <!-- {{data}} -->
</div>
