<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Admin Home</a></li>
        <li>Categories</li>
    </ol>

    <a ng-show="user" class="btn btn-primary btn-xs" style="float: right" href="/recommend-category">Manage
        Categories</a>
</section>

<div class="content-wrapper">
    <section class="content">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body with-border">

                    <!-- <error-block messages="errors"></error-block> -->

                    <div>
                        <form #newCategory="ngForm" (ngSubmit)="processForm(newCategory)" id="rootCategory">
                            <div class="col-xs-6 input-group input-group-sm">
                                <input type="text" name="name" class="form-control input-sm col-xs-3"
                                    placeholder="Add New Category ..." ngModel />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat" type="submit"><i class="fa fa-plus"></i> Add
                                        New
                                        Category
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body with-border">
                    <table id="categoryList" class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <ul *ngFor="let category of categories">
                                        <app-create-category 
                                        [data]="category" 
                                        
                                        (deleteInChild)="deleteCategory($event)"
                                        (updateInChild)=(editCategory($event))
                                        
                                        ></app-create-category>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            
            <div class="row">
                <div class="modal" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="Edit Category"
                  title="Edit Category"  aria-hidden="true">

                    <section class="content">
                        <div class="row row-centered">
                            <div class="col-xs-12 col-md-5 col-centered">
                                <div class="box no-border">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Edit Category</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                    </div>

                                    <div class="box-body no-border">

                                        <form role="form" #cat="ngForm" (ngSubmit)="saveEditCategory(editCategoryForm)"  
                                            name="editCategoryForm"> 
                                            <!-- deleted $valid and .$setDirty(0)          ng-model="editData.name"-->
                                            <div class="control-group">

                                                <div class="controls">
                                                    <input type="text" id="name" name="name" placeholder=""
                                                        class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="editedValue.editModel.name"  required
                                                        ng-required="true">
                                                </div>
                                            </div>

                                            <div class="box-footer">
                                                <!-- <error-block ng-show="errors.length > 0" messages="errors">
                                                </error-block> -->
                                                <!-- Button -->
                                                <div class="controls">
                                                    <button class="btn btn-primary ng-dirty"
                                                        (click)="editCategoryForm">
                                                        Save
                                                    </button>
                                                    
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal"
                                                        aria-label="Close" (click)="cancel()">
                                                        <span aria-hidden="true">Cancel</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>





                </div>
            </div>

        </div>
        <div class="clear"></div>
    </section>
</div>